*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#navbar{
    background-color: #f0cf15;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
#logo{
    color: black;
    font-weight: bold;
}
.nav-link{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}
.nav-link:hover{
    background-color: #513a3a3b;
    padding: 10px;
    border-radius: 10px;
    color: #111111;
}
.icons{
    margin-right: 50px;
}
.iconss{
    /* margin-left: 0px; */
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
/* home section */
.home{
    width: 100%;
    height: 91.5vh;
    background-color: #a9a9a929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    width: 100%;
    object-fit: contain;
}
.home .content{
    flex:1 1 300px;
}
.content h3{
    margin-left: 50px;
    font-size: 35px !important;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.content h2{
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}
.changecontent:after{
    content: ' ';
    color: #f0cf15;
    text-shadow: 1px 1px 1px black;
    animation: changetext 7s infinite linear;
}
@keyframes changetext{
    0%{content: "Shirt";}
    20%{content: "Smart watch";}
    40%{content: "Pants";}
    60%{content: "Shoes";}
    80%{content: "Sports Shoes";}
    100%{content: "Hoodies";}
}
.content p{
    margin-left: 50px;
}
.content h5{
    margin-left: 50px;
    font-weight: bold;
    font-size: 29px;
}
.content .btn{
    margin-top: 0px;
    margin-left: 50px;
    width: 150px;
    height: 38px;
    letter-spacing: 3px;
    background-color: #f0cf15;
    color: black;
    font-weight: bold;
}
@media screen and (min-width:1024px){
    #navbar{
      padding: 0px !important;
    }
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content .btn{
        margin-left: 50px;
    }
     #navbar{
        flex-wrap: wrap;
     } 
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content .btn{
        margin-left: 20px;
    }
}
@media screen and (max-width:550px){
    .content h3{
        margin-left: 50px;
    }
    .content p{
        margin-left: 50px;
    }
    .content .btn{
        margin-left: 50px;
    }
   
}
@media screen and (max-width:290px){
    .content h3{
        font-size: 30px;
    }
    .content h2{
        font-size: 30px;
    }
    .changecontent{
        font-size: 30px;
    }
}

/* home section */

/*t-cards */
#t-cards .card a{
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
#t-cards .card:hover{
    transform: translateY(-10px);
}
.pantshirts img{
        vertical-align: middle;
        border-style: none;
        width: 100%;
} 

/*t-card */

/* product cards */
#product-cards h1{
    margin-top: 50px;
    font-weight: bold;
    color: #f0cf15;
    text-shadow: 1px 1px 1px black;
}
#product-cards .card{
    background-color: #a9a9a929;
    cursor: pointer;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;

}
#product-cards .card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;
}
.overlay i img{
    cursor: pointer;
    background-color: #f0cf15;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-right: 100px;
    margin-bottom: 5%;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none;
    box-shadow: none;

}
#product-cards .card h3{
    color: #f0cf15;
    text-shadow: 1px 1px 1px black;
}
.checked{
    color: #f0cf15;
}
#product-cards h5{
    font-size: 15px;
}
#product-cards h5 span{
    float: right;
}
/* product cards */
/* banner */
.banner{
    width: 100%;
    height: 65vh;
    background-image: url(../b1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
}
.banner .img{
    flex: 1 1 400px;
}
.banner .img img{
    width: 65%;
    margin-left: 10%;
    /* margin-bottom: 30px; */
}
.banner .banner-content{
    flex:1 1 400px;
    margin-bottom: 30px;
}
.banner-content h1{
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner-content h1 span{
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    color: #f0cf15;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner-content p{
    margin-left: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner-content h5{
    margin-left: 30px;
    font-weight: bold;
    font-size: 29px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner-content .btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
    height: 38px;
    letter-spacing: 3px;
    background-color: #f0cf15;
    color: black;
    font-weight: bold;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
@media screen and (max-width:990px){
    .banner{
        height: 100vh;
    }
    .banner .img img{
        margin-left: 100px;
    }
}
@media screen and (max-width:450px){
    .banner .img img{
        margin-left: 50px;
    }
}
@media screen and (max-width:300px){
    .banner .banner-content h1{
        font-size: 30px;
    }
    .banner .banner-content h1 span{
        font-size: 30px;
    }
}
/* banner */

/* banner2 */
.banner2{
    width: 100%;
    height: 65vh;
    background-image: url(../b1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    text-align: justify;
}
.banner2 .img{
    flex: 1 1 400px;
}
.banner2 .img img{
    width: 80%;
    margin-left: 10%;
    /* margin-bottom: 30px; */
}
.banner2 .banner2-content{
    flex:1 1 400px;
    margin-bottom: 30px;
}
.banner2-content h1{
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner2-content h1 span{
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    color: #f0cf15;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner2-content h2{
    font-size: 30px;
    color: black;
    margin-left: 30px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.bannerchangecontent:after{
    content: ' ';
    font-size: 30px;
    color: #f0cf15;
    text-shadow: 1px 1px 1px black;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    animation: bannercontent 7s infinite linear;
}
@keyframes bannercontent{
    0%{content: "Smart Watch";}
    20%{content: "Laptop";}
    40%{content: "Headphone";}
    80%{content: "Airpods";}
    100%{content: "Smart Phone";}
}
.banner2-content p{
    margin-left: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner2-content h3{
    margin-left: 30px;
    font-weight: bold;
    font-size: 29px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.banner2-content .btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
    height: 38px;
    letter-spacing: 3px;
    background-color: #f0cf15;
    color: black;
    font-weight: bold;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
@media screen and (max-width:990px){
    .banner2{
        height: 100vh;
    }
    .banner2 .img img{
        margin-left: 100px;
    }
}
@media screen and (max-width:450px){
    .banner2 .img img{
        margin-left: 50px;
    }
}
@media screen and (max-width:300px){
    .banner2 .banner2-content h1{
        font-size: 30px;
    }
    .banner2 .banner2-content h1 span{
        font-size: 30px;
    }
}

/* banner2 */

/* about us */
#about{
    margin-top: 100px;
}
#about h2{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: #f0cf15;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 3.2rem;
}
#about p{
    font-weight: bold;
    text-align: center;
    font-family: serif;
    font-size: 1.2rem;
}
/* about us */
/* contact us */
#contact{
    margin-top: 50px;
}
#contact h2{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: #f0cf15;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 3.2rem;
}
p{
    font-weight: bold;
    /* text-align: center; */
    font-family: serif;
    font-size: 1.2rem;
}
#message button{
    width: 150px;
    height: 38px;
    background-color: #f0cf15;
    border: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
/* contact us */

/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #111111;
  }
  #footer .footer-top{
    padding: 60px 0 30px;
    background: #1b1b1b;
    color: #fff;
  }
  #footer .footer-top .footer-contact a{
    font-size: 20px;
    color: #f0cf15;
    font-weight: bold;
    font-family: serif;
  }
  #footer .footer-top .footer-contact a img{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #b7b7b7; 
  }
  #footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    font-family: serif;
    font-weight: 700;
  }
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul li{
    padding-right: 2px;
    color: #f0cf15;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul li a{
    color: #aaaaaa;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-family: serif;
  }
  #footer .footer-top .footer-links ul a:hover{
    text-decoration: none;
    color:#111111;
    background-color: #f0cf15;
    padding: 10px;
    border-radius: 20px;
  }
  #footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #373737;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover{
    background: #f0cf15;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright{
    text-align: center;
    float: left;
  }
  #footer .credits{
    float: right;
    text-align: center;
  }
  /* footer */
  /* footer content */
  
  html{
    scroll-behavior: smooth;
  }
  .arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
  }
